main{
    width: 30vw;
    margin: auto;
    margin-top: 5vh;
    background: var(--main-gradient);
    height: 37vw;
    border-radius: 5%;
    opacity: 80%;

}
#auth-form{
    display: grid;
    align-content: space-between;
    text-align: center;
    width: 100%;
    height: 100%;
}
.form-option{
    margin-top: 3%;
    margin-bottom: 1%;
}
h3{
    margin-top: 0;
    margin-bottom: 0;
}
.error-message{
    text-shadow: -3px 1px 10px rgb(255, 166, 103);
    color: rgb(255, 229, 208);
    /* font-size: 40px; */
}
#label {
    margin-top: 3%;
    font-size: 40px;
}