{% extends "nav.html" %}

<!-- {% load static %} -->
{% block styles %}
    <link rel="stylesheet" href="{%  static 'chat/css/chat.css' %}" type="text/css">
{% endblock styles %}

{% block title %}
    Chat
{% endblock title %}

{% block content %}
    <div id="dialog-window">
        <div>
            <div id="reciever-title">
                <a href="{% url 'profile' pk=reciever.pk %}" class="profile-link">
                    <img src="{{reciever.icon.url}}" alt="profile_image" class="profile-image">
                    <h2 class="profile-username">
                        {{reciever.username}}
                    </h2>
                </a>
                <div></div>

                <input type="submit" value="send money">
            </div>
            <div id="messages">
                <div>
                    <!-- messages will be added here -->
                </div>
            </div>
            <div id="message-form">
                <form>
                    <textarea name="message" id=""></textarea>
                    <input type="submit" value="send" name="message-text">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const djangoContext = {
            reciever: {
                pk:'{{reciever.pk}}',
                iconUrl: '{{reciever.icon.url}}',
                side: 'left'
            },
            user:{
                pk: '{{user.pk}}',
                iconUrl: '{{user.icon.url}}',
                side: 'right'
            },
            chatId: '{{chat_id}}'
        }
    </script>
    <script src="{% static 'chat/js/chat.js'%}"></script>
{% endblock content %}
